#in-development {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #292929;
  z-index: 100;

  ._title {
    color: white;
  }
  .wrapper {

  }

  .-btn {
    display: block;
    margin: 2em auto 0 auto;
    padding: 0.5em;
    max-width: 6em;
  }
}

#404 {

}